[Unit]
Description=Daemon for checking the internal and external network health using ping times.
After=syslog.target
Wants=network-online.target
After=network-online.target

[Service]
Restart=on-failure
Type=simple
ExecStart=/usr/bin/env python3 -u /usr/bin/netpingd
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
